<div class="usa-grid">
    <div class="usa-width-one-fourth">
    <p></p>
	<a href="http://www.gsa.gov/">
      <img src="{{ site.baseurl }}/assets/img/logo-gsa.png" alt="GSA">
    </a>
	<p></p>
    <a href="https://www.cio.gov/">
      <img class="logo-usds" src="{{ site.baseurl }}/assets/img/logo-cio.png" alt="CIO">
    </a>
  </div>
  <div class="usa-width-one-fourth">
    <p>Feedback? Create an issue on the <a href="{{ site.repo_url }}">code repository</a> or email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
	<p>Have an idea? Read our <a href="{{ site.repo_url }}/blob/{{ site.branch }}/CONTRIBUTING.md">contribution guidelines</a>.</p>
  </div>
  <div class="usa-width-one-fourth last-child">
    <p>As a work of the United States government, this project is in the public domain. Copyright is also waved internationally via a CC0 1.0 waiver. </p>
    <p><a href="{{ site.repo_url }}/blob/{{ site.branch }}/LICENSE.md">Read More.</a></p>
  </div>
  <div class="usa-width-one-fourth">
	<p><a href="https://www.idmanagement.gov/privacy-policy/">Privacy Policy</a></p>
  </div>
</div>
