<a class="skipnav" href="#main-content">Skip to main content</a>

<header class="usa-site-header" role="banner">
  <div class="usa-disclaimer">
    <span class="usa-disclaimer-official">
      <img class="usa-flag_icon" alt="US flag signifying that this is a United States Federal Government website" src="{{ site.baseurl }}/assets/img/us_flag_small.png">
      An official website of the United States Government
    </span>
    <span class="usa-disclaimer-stage"></span>
  </div>
    <nav class="usa-site-navbar">
      <a class="menu-btn" href="#">Menu</a>
      <div class="logo" id="logo">
        <h1>
          <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
          {{site.title}}</a>
        </h1>
      </div>
      <ul class="usa-unstyled-header-list">
        <li>
          <form id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get" class="usa-search usa-search-small">
            <input name="utf8" type="hidden" value="✓">
            <input id="affiliate" type="hidden" name="affiliate" value="{{ site.search_site_handle }}">
            <input type="hidden" name="commit" value="Search">
            <div role="search" >
              <input id="query" name="query" type="search" class="query" autocomplete="off" class="usagov-search-autocomplete" placeholder="Enter Search Term(s)" />
              <button type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </div>
          </form>
        </li>
      </ul>
    </nav>
	<nav class="usa-site-navbar-secondary">
	  <ul class="usa-unstyled-list">
      {% for nav in site.navbar %}
		  <li><a href="{{ nav.url }}" title="{{ nav.title }}">{{ nav.title }}</a></li>
		  {% endfor %}
    </ul>
  </nav>
</header>

<div class="overlay"></div>
