<aside>
  <a href="{{site.github.repository_url}}/issues" class="btn btn-primary">Submit Issues Here</a><br/>
  <a href="{{site.ficam_playbooks_url}}"  class="btn btn-primary">Playbook Home Page</a>

  <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>

  <nav class="sidebar-nav" role="navigation">
    <ul>
		{% for link in site.navigation %}
		<li class="group {% if page.title == link.text %}sidebar-nav-active{% endif %}">
			<a href="{% if link.internal == true %}{{ site.baseurl }}/{% endif %}{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>
			{% if link.coll == true %}
				<button class="expand-subnav"
                    aria-expanded="{% if page.collection == link.collname %}true{% else %}false{% endif %}"
                    aria-controls="nav-collapsible-{{ forloop.index }}">+</button>
				{% assign collectionName = link.collname %}
				<ul class="nav-children" id="nav-collapsible-{{ forloop.index }}" aria-hidden="{% if page.collection == link.collname %}false{% else %}true{% endif %}">
				{% for child in site.[collectionName] %}
					<li class="group {% if page.title == child.title %}sidebar-nav-active{% endif %}">
						<a href="{{ site.baseurl }}{{ child.url }}" title="{% if page.title == child.title %}Current Page {% else %}{{ child.title }}{% endif %}">{{ child.title }}</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		</li>
		{% endfor %}
    </ul>
  </nav>
</aside>
