<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <header role="banner">
        <div class="wrap">
          {% if site.logourl != null %}
            <img class="logo" src="{{ site.logourl }}" alt="{{ site.logoalt }}">
          {% endif %}
          <h1 class="site-title"><div>{{ site.name }}</div></h1>
		  <!-- <div style="float:right;">
			<a href="/ficam-guides/"  class="btn btn-primary">Playbook Home Page</a>
			</div> -->
        </div>
      </header>

    <div class="wrap content">

        {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          <div style="float: right;">
            <a href="{{site.github.repository_url}}/tree/{{ site.branch }}/{{ page.relative_path }}" style="float:right;" class="btn btn-primary">Edit this page</a>
          </div>
          <h2 class="page-title">{{ page.title }}</h1>
          {{ content }}
        </section>

      </div><!-- /.wrap content -->

      <footer role="contentinfo">
        <div class="wrap">
          <p>This project is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</p>

          <p>Hosted on <a href="http://pages.github.com/">GitHub Pages</a>.</p>
        </div><!--/.wrap -->
      </footer>
    </div> <!-- /.container -->
    </body>
</html>
